@import 'public';

.top-con {
    width: 1196px;
    height: 120px;
    margin: 0 auto;
}

.research {
    margin-top: 33px;
    margin-left: 12px;
    border: 1px solid #2884C7;

    input {
        width: 466px;
        height: 36px;
        float: left;
    }

    a {
        float: left;
        width: 134px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        color: #fff;
        background-color: #2884C7;
        letter-spacing: 4px;
        font-size: 22px;
    }
}

.cart_btn {
    width: 122px;
    height: 40px;
    text-align: center;
    margin-top: 33px;
    border: 1px solid #DDDDDD;

    i {
        line-height: 40px;
        color: #2884C7;
    }
}

.cart_btn:hover {
    background-color: #2884C7;
}

.cart_btn:hover i {
    color: white;
}

//cart

.cart-con{
    width: 1196px;
    height: 712px;
    margin: 0 auto;
    background-color: pink;
    .cart_wrap{
        width: 1196px;
        height: 372px;
        padding-top: 88px;
        margin: 0 auto;
        background-color: powderblue;
        .cart_box{
            width: 510px;
            height: 274px;
            background-color: purple;
            margin: 0 auto;
            img{
                margin-right: 50px;
            }
            .cart_txt{
                width: 300px;
                height: 90px;
                line-height: 45px;
                background-color: palegreen;
            }
            a{
                display: block;
                width: 94px;
                height: 26px;
                text-align: center;
                line-height: 26px;
            }
        }
    }
}
